<h1>User Center of {{ user.username }}</h1>
<label>First Name</label>
<label id='fname'>{{user.first_name}}</label>
<br>
<label>Last Name</label>
<label id="lname">{{user.last_name}}</label>
<br>
<label>Gender</label>
<span id='gender'>{{current.gender}}</span>
<br>
<label>Birthday</label>
<span id="birthday">{{current.birthday}}</span>
<br>
<label>Intro</label>
<p id="self_introduce">{{current.self_introduce}}</p>
<br /><br />
<li>
	<a href="http://127.0.0.1:8000/polls/edit/">Edit</a>
</li>
<li><a href="http://127.0.0.1:8000/polls/accounts/logout/">logout</a></li>